{{ partial "head.html" }}

<body>
    <div class="global-container">
        <header class="global-header" style="height: 788px;">
            <div class="logo animated fadeInUp">
                <h1><span>Sublingual Services</span></h1>
                <div class="description">Sublingual Services is a ...</div>
            </div>
            <div id="header-bg" style="height:788px; top: 0px;"></div>
            <div class="nav-bar">
                <ol>
                    <li class="about"><a href="#about"><span>About</span></a></li>
                    <li class="work"><a href="#work"><span>Work</span></a></li>
                    <li class="management"><a href="#management"><span>Management</span></a></li>
                    <li class="news"><a href="#news"><span>News</span></a></li>
                </ol>
            </div>
        </header>
        <div class="gradient-wrap" id="about">
            <div class="wrap" id="">
                <h3 style="transform:translateY(0px);">Who we are</h3>
                <h2 class="sec-title"><span>Professionals in Service</span></h2>
                <div class="dual-col">
                    <div class="col-2">
                        <p>Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
                    </div>
                    <div class="col-2">
                        <p>Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
                    </div>
                </div>
            </div>
            <div class="" id="">
                <div class="wrap">
                    <h3 style="transform:translateY(0px);">Who we are</h3>
                    <h2 class="sec-title"><span>Professionals in Service</span></h2>
                    <div class="dual-col">
                        <div class="col-2">
                            <p>Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
                        </div>
                        <div class="col-2">
                            <p>Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="news-insta">
            <div id="instafeed" class="insta-wrapper"></div>
            <button id="insta-btn">See more</button>
        </section>
        <section class="contact">
            <div class="wrap">
                <div class="dual-col">
                    <div class="col-2">
                        <h3 style="transform:translateY(0px);">Talk to us</h3>
                        <p>
                            Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum
                        </p>
                    </div>
                    <div class="col-2">
                        <h3 style="transform:translateY(0px);">Follow</h3>
                        <p>
                            Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <div class="gmap-wrapper">
            <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=%E3%80%92156-0043%20%E6%9D%B1%E4%BA%AC%E9%83%BD%20%E4%B8%96%E7%94%B0%E8%B0%B7%E5%8C%BA%E6%9D%BE%E5%8E%9F1-42-11%20%E6%9D%BE%E8%91%89%E8%8D%988%E5%8F%B7&key=AIzaSyCOOfWaLj2H-07JoR6xsZztbDbt7V7uSaY" allowfullscreen></iframe>
        </div>
        <footer class="global-footer">
            <div class="wrap">
                <a href="#">
                    <p>Copyright © Sublingual Services 2017</p>
                </a>
            </div>
        </footer>
        <script type="text/javascript" src="{{ .Site.BaseURL }}/js/bundle.js"></script>
    </div>
</body>

</html>
