<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <!-- og for article and news page -->
    <meta property="og:site_name" content="Abacus">
    <meta property="og:locale" content="en_US">
    <meta property="fb:app_id" content="#">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:title" content="Abacus">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://studio-abacus.com">
    <meta property="og:description" content="English to Japanese and Japanese to English サブリンガル サービスはクライアントのコミュニケーションが円滑にはかれるよう手助けします。二つの文化をバックグラウンドにもつ人々が集まり、日本を世界に、そして世界を日本に繋ぐ架け橋として活動しています。エンタテインメント業界に特化した通訳と翻訳を皮切りに、多岐の分野に活動を拡大し続けています。いまやサブリンガル・サービスはエンタテインメント、出版、メディア、法文等と様々な業界のお客様にサービスを提供し続けています。">
    <meta property="og:image" content="">
    <meta name="description" content="English to Japanese and Japanese to English サブリンガル サービスはクライアントのコミュニケーションが円滑にはかれるよう手助けします。二つの文化をバックグラウンドにもつ人々が集まり、日本を世界に、そして世界を日本に繋ぐ架け橋として活動しています。エンタテインメント業界に特化した通訳と翻訳を皮切りに、多岐の分野に活動を拡大し続けています。いまやサブリンガル・サービスはエンタテインメント、出版、メディア、法文等と様々な業界のお客様にサービスを提供し続けています。 ">
    <title>Sublingual Services</title>
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="{{ .Site.BaseURL }}/js/bundle.js"></script>
    <link href="/css/jquery.bxslider.css" rel="stylesheet" />
    <script src="lazysizes.min.js" async=""></script>
</head>
